@font-face {
  font-family: "roboto-medium";
  src: url(roboto-medium.woff);
}

@font-face {
  font-family: "21026-site";
  src: url(210261.woff);
}

@font-face {
  font-family: "p1-main";
  src: url(p1_main.ttf);
}

.webmadewell {
  background-color: #444648;
}
body {
  margin: 0;
  background-color: #444648;
}
.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("d1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(33, 33, 65);
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  font-size: 25px;
  margin-left: 100px;
  margin-top: -70px;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "roboto-medium";
}
h1 {
  font-weight: 1000;
}
h2 {
  font-weight: 1000;
}
.sample-section-wrap {
  position: relative;
  height: 10000px;
  background-color: #444648;
}
.sample-section {
  position: relative;
  max-width: 640px;
  padding: 40px;
}

.main_img_1 {
  position: absolute;
  top: 130%;
  left: 14%;
  width: 690px;
  height: 430px;
  border-radius: 15px;
  box-shadow: 21px 14px 15px 2px rgba(0, 0, 0, 0.68);
}

.main_h1_1 {
  position: absolute;
  top: -20%;
  left: 130%;
  width: 950px;
  border-radius: 15px;
  font-family: "21026-site";
  font-size: 50px;
  color: #5cd1e5;
}

.main_p_1 {
  position: absolute;
  top: 80%;
  left: 124%;
  width: 850px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}

.main_p_2 {
  position: absolute;
  top: 680%;
  left: 14%;
  width: 1750px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}

.main_img_2 {
  position: absolute;
  top: 1140%;
  left: 153.4%;
  width: 690px;
  height: 430px;
  border-radius: 15px;
  box-shadow: 21px 14px 15px 2px rgba(0, 0, 0, 0.68);
}

.main_img_3 {
  position: absolute;
  top: 2350%;
  left: 14%;
  width: 690px;
  height: 430px;
  border-radius: 15px;
  box-shadow: 21px 14px 15px 2px rgba(0, 0, 0, 0.68);
}

.main_h1_2 {
  position: absolute;
  top: 1000%;
  left: 30%;
  width: 950px;
  border-radius: 15px;
  font-family: "21026-site";
  font-size: 50px;
  color: #5cd1e5;
}

.main_p_3 {
  position: absolute;
  top: 1120%;
  left: 14%;
  width: 800px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}

.main_p_4 {
  position: absolute;
  top: 1670%;
  left: 14%;
  width: 1700px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}

.main_h1_3 {
  position: absolute;
  top: 2120%;
  left: 130%;
  width: 950px;
  border-radius: 15px;
  font-family: "21026-site";
  font-size: 50px;
  color: #5cd1e5;
}

.main_p_5 {
  position: absolute;
  top: 2220%;
  left: 124%;
  width: 950px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}

.main_p_6 {
  position: absolute;
  top: 2930%;
  left: 14%;
  width: 1750px;
  border-radius: 15px;
  font-family: "p1-main";
  font-size: 40px;
  color: #ffffff;
}